backend/.env.local
frontend/node_modules
backend/backend_launcher.txt
frontend/UIlauncher.txt
readme.txt
CLAUDE.md
start.bat
frontend/dist
frontend/node_modules/nanoid
frontend/node_modules/postcss
.env
docker-compose.yml
start-ktaliman.bat
stop-ktaliman.bat